footer
	.footerTop
		.container
			.row
				.col-lg-2.col-lg-offset-2
					.feedback
						h4 Обратная связь
						ul.feedback-list
							li.feedback-list__item
								a(href="#!") Контакты
							li.feedback-list__item
								a(href="#!") Адрес и схема проезда
							li.feedback-list__item
								a(href="#!") Обращения и запросы
							li.feedback-list__item
								a(href="#!") Личный прием граждан
				.col-lg-2
					.aboutSite
						h4 О сайте
						ul.aboutSite-list
							li.aboutSite-list__item
								a(href="#!") Разработка
							li.aboutSite-list__item
								a(href="#!") Использование материалов
							li.aboutSite-list__item
								a(href="#!") Официальные банеры
				.col-lg-3
					.social
						h4 Министерство в социальных сетях
						ul.socialList
							li.socialList__item.socialList__item-vk
								a(href="#!")
							li.socialList__item.socialList__item-fb
								a(href="#!")
							li.socialList__item.socialList__item-insta
								a(href="#!")
							li.socialList__item.socialList__item-tw
								a(href="#!")
				.col-lg-1
					.emblem
	.footerMid
		.container.flex
			ul.footerMidList
				li.footerMidList__item
					a(href="#!") edu.gov.by
				li.footerMidList__item
					| Разработка: 
					a(href="#!") ГИАЦ Минобразования
	.footerBot
		.container.text-center
			p Официальный ресурс Министерства образования Республики Беларусь
			p © 2011 - 2017 Министерство образования Республики Беларусь. Все права защищены.